<div class="flex flex-col w-full h-full px-5 bg-teal-50" data-controller="remove-mask">

<%= form_for(resource, as: resource_name, url: users_update_path(resource_name), html: { method: :put, class: "z-10" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex items-center justify-center xs:justify-start xs:ml-12 my-4">
    <%= render(AvatarInputComponent.new(form: f, avatar_url: @user.avatar_url)) %></br>
    <span class="hidden xs:block pl-5">
      <%= resource.first_name %> <%= resource.last_name %>
    </span>
  </div>

  <%= render(TextInputComponent.new(form: f, type: :email, field: :email, placeholder: "email")) %></br>
  <%= render(TextInputComponent.new(form: f, type: :text, field: :first_name, placeholder: "first Name")) %></br>
  <%= render(TextInputComponent.new(form: f, type: :text, field: :last_name, placeholder: "last Name")) %></br>
  <%= render(TextInputComponent.new(form: f, type: :text, field: :phone, placeholder: "phone", data: { controller: 'phone-number-mask' })) %></br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div></br>
  <% end %>

  <div class="actions mb-5">
    <%= f.submit "Update", class: "w-full align-middle select-none font-sans font-bold text-center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3 px-6 rounded-lg bg-teal-500 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" %>
  </div>
<% end %>

</div>