<div class="flex items-center">
  <div class="w-full md:w-1/2 bg-cover bg-center flex flex-col justify-center h-screen px-8 md:bg-none">

  <div class="fixed inset-0 md:hidden pointer-events-none z-0">
    <img src="<%= asset_path 'mosaic_background.png' %>" class="absolute inset-0 z-0 w-full h-full object-cover" alt="Background Image">
    <div class="absolute inset-0 custom-gradient z-10"></div>
  </div>


  <div class="flex justify-center items-center mb-11 z-20 sm:justify-start sm:mt-4">
    <%= image_tag "logo.png", alt: "Logo", class: "rounded-full h-10 w-10 mr-4" %>
    <p class="text-2xl font-black text-teal-500">FinMan</p>
  </div>
  
  <div class="mb-5 z-20">
    <h2 class="text-2xl font-black text-teal-500 text-center">Forgot password?</h2>
    <h3 class="text-base font-bold text-teal-500 text-center">No worries, we’ll send you reset instructions </h3>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "z-20 md:mx-10" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="relative h-11 w-full min-w-[200px]">
      <%= f.email_field :email, 
                        autocomplete: "email",
                        placeholder: "email",
                        class: "peer h-full w-full border-b border-teal-500 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all placeholder-shown:border-teal-500 focus:border-teal-500 focus:outline-0 disabled:border-0 disabled:bg-teal-50 placeholder:opacity-0 focus:placeholder:opacity-100"%>

      <%= f.label :email, 
                  class: "after:content[''] pointer-events-none absolute left-0  -top-1.5 flex h-full w-full select-none !overflow-visible truncate text-[11px] font-normal leading-tight text-gray-950 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-teal-500 after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-teal-500 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-teal-900 peer-focus:after:scale-x-100 peer-focus:after:border-teal-700 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-teal-700"
      %>
    </div>
    <br />

    <div class="flex flex-col gap-5 mt-7">
      <%= f.submit "Forgot Password", class: "w-full align-middle select-none font-sans font-bold text-center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3 px-6 rounded-lg bg-teal-500 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" %>

      <div class="flex justify-center text-sm">
        <%= image_tag "arrow-small-left.svg", alt: "Arrow Icon", class: "w-5 h-5 inline-block" %>
        <%= link_to "Back to log in", new_session_path(resource_name) %> <br /><br /> </span>
      </div>
    </div>
  <% end %>

  <!-- 
  <%= render "devise/shared/links" %>
  -->

  </div>

  <div class="hidden md:block w-full md:w-1/2 relative h-screen">
    <div class="absolute inset-0 bg-gradient-to-r from-white to-transparent"></div>
    <img src="<%= asset_path 'mosaic_background.png' %>" class="w-full h-full object-cover" alt="Background Image">
  </div>
<div>
